$enable-responsive-font-sizes: true;

$primary: #0cafa4;

html, body {
  height: 100%;
}

.vertical-fill {
  height: 100%;
}

.content {
  height: 100%;
  background-color: #F0F0F0;

  .inner-content {
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.32);
    box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.32);
  }
}

.breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  .nav-link {
    &.active {
      background-color: $primary;
      a {
        color:#ffffff;
      }
    }

    &:hover {
      background-color: $primary;
      a {
        color:#ffffff;
      }
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}
    
.breadcrumb {
  .breadcrumb-item {
    a {
      color: #6c757d;
      &:hover {
        text-decoration: none;
      }
    }

    &.active {
      color: $primary;
    }
  }
}