html, body {
  background-color: #F0F0F0;
}

img {
  display: inline-block;
}

.content {
  background-color: white;
  -webkit-border-radius: $content-border-radius;
  -moz-border-radius: $content-border-radius;
  border-radius: $content-border-radius;
  padding: 2rem;
}

.scrollable-menu {
  ul {
    height: auto;
    max-height: 80vh;
    overflow-x: hidden;
  }
}