html, body {
  height: 100%;
}

img {
  display: inline-block;
}

.vertical-fill {
  height: 100%;
}

.content {
  height: 100%;
  background-color: #F0F0F0;

  .inner-content {
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.32);
    box-shadow: 2px 2px 10px 0px rgba(50, 50, 50, 0.32);
  }
}

.vault-creation-inputs {
  width: 8rem;
  display: inline-block;

  .input-group-prepend {
    display: inline-block;
    width: 2rem;
  }

  .form-control {
    display: inline-block;
    width: 6rem;
  }
}
