/*12 column grid*/
/* line 2, ../sass/app.scss */
.col-1 {
  width: 8.33%;
}

/* line 3, ../sass/app.scss */
.col-2 {
  width: 16.66%;
}

/* line 4, ../sass/app.scss */
.col-3 {
  width: 25%;
}

/* line 5, ../sass/app.scss */
.col-4 {
  width: 33.33%;
}

/* line 6, ../sass/app.scss */
.col-5 {
  width: 41.66%;
}

/* line 7, ../sass/app.scss */
.col-6 {
  width: 50%;
}

/* line 8, ../sass/app.scss */
.col-7 {
  width: 58.33%;
}

/* line 9, ../sass/app.scss */
.col-8 {
  width: 66.66%;
}

/* line 10, ../sass/app.scss */
.col-9 {
  width: 75%;
}

/* line 11, ../sass/app.scss */
.col-10 {
  width: 83.33%;
}

/* line 12, ../sass/app.scss */
.col-11 {
  width: 91.66%;
}

/* line 13, ../sass/app.scss */
.col-12 {
  width: 100%;
}

/* line 14, ../sass/app.scss */
.col-20-percent {
  width: 20%;
}

/* line 15, ../sass/app.scss */
.col-40-percent {
  width: 40%;
}

/* line 16, ../sass/app.scss */
.col-60-percent {
  width: 60%;
}

/* line 17, ../sass/app.scss */
.col-80-percent {
  width: 80%;
}

/* line 18, ../sass/app.scss */
.width-inherit {
  width: inherit;
}

/*Variables*/
/* Color Palette */
/* line 74, ../sass/app.scss */
body {
  height: 100%;
  font-size: 13px;
  font-family: "Segoe UI", "SF UI text", sans-serif !important;
  margin: 0px;
}

/* line 81, ../sass/app.scss */
.micro-fontsize {
  font-size: 11px !important;
  line-height: 16px;
}

/* line 85, ../sass/app.scss */
.small-fontsize {
  font-size: 12px;
  line-height: 16px;
}

/* line 90, ../sass/app.scss */
.regular-fontsize {
  font-size: 13px;
  line-height: 16px;
}

/* line 95, ../sass/app.scss */
.large-fontsize {
  font-size: 14px;
  line-height: 16px;
}

/* line 100, ../sass/app.scss */
.sans-serif-bold {
  font-weight: bold;
}

/* line 104, ../sass/app.scss */
.sans-serif-header {
  font-weight: 400;
}

/* line 108, ../sass/app.scss */
.float-left {
  float: left;
}

/* line 112, ../sass/app.scss */
.float-right {
  float: right;
}

/* line 116, ../sass/app.scss */
a {
  cursor: pointer;
  text-decoration: none;
  color: #0067C5;
  outline: none;
}

/* line 123, ../sass/app.scss */
.display-inline-flex, .app-title {
  display: inline-flex !important;
  display: -ms-inline-flexbox;
}

/* line 128, ../sass/app.scss */
.cursor-pointer, .primary-btn, .secondary-btn, button, i {
  cursor: pointer;
}

/* line 132, ../sass/app.scss */
.primary-btn {
  color: #34428B;
  padding: 12px;
}
/* line 136, ../sass/app.scss */
.primary-btn i {
  font-size: 24px;
  padding: 0 4px;
}
/* line 140, ../sass/app.scss */
.primary-btn:hover {
  color: #0067C5;
}

/* line 145, ../sass/app.scss */
.secondary-btn {
  color: #FFFFFF;
  padding: 12px 24px;
}
/* line 149, ../sass/app.scss */
.secondary-btn i {
  padding: 0 4px;
}

/* line 159, ../sass/app.scss */
.header-inner-wrapper {
  height: 40px;
  z-index: 94;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 #DADADA;
}

/* line 166, ../sass/app.scss */
.page-title {
  color: #D85760;
  height: 22px;
  padding: 12px 24px 6px;
  font-weight: 400;
}

/* line 174, ../sass/app.scss */
* {
  box-sizing: border-box;
}

/* line 178, ../sass/app.scss */
body {
  margin: 0;
}

/* line 182, ../sass/app.scss */
nav {
  background: #002452;
  float: left;
  height: 100vh;
  left: 0;
  margin-right: 0;
  overflow: auto;
  padding: 0;
  transition: width .3s ease;
  position: fixed;
  top: 0;
  width: 210px;
  z-index: 1;
}
/* line 195, ../sass/app.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 198, ../sass/app.scss */
nav ul li {
  display: inline-flex;
  list-style: none;
}
/* line 201, ../sass/app.scss */
nav ul li + li {
  border-top: 1px solid rgba(237, 237, 237, 0.05);
}
/* line 204, ../sass/app.scss */
nav ul li a {
  color: #FFFFFF;
  display: block;
  font-size: 13px;
  height: 63px;
  opacity: 1;
  padding: 22px 0 22px 8px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
/* line 214, ../sass/app.scss */
nav ul li a:hover {
  opacity: 1;
}
/* line 218, ../sass/app.scss */
nav ul li i {
  color: #FFFFFF;
  display: block;
  font-size: 13px;
  opacity: 1;
  padding: 22px 0 22px 48px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
/* line 227, ../sass/app.scss */
nav ul li i:hover {
  opacity: 1;
}

/* line 236, ../sass/app.scss */
nav ul li a:before {
  content: "";
  width: 35px;
  height: 35px;
  position: absolute;
  top: 24%;
  right: auto;
  bottom: auto;
  left: 12px;
}

/* line 248, ../sass/app.scss */
#mainContent {
  height: 100vh;
  margin-left: 63px;
  position: relative;
  width: calc(100% - 63px);
  transition: margin-left 0.5s ease;
}
/* line 254, ../sass/app.scss */
#mainContent span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 40px;
  left: 50%;
  position: absolute;
  top: 50%;
  transition: all 2s ease-in-out;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/* line 266, ../sass/app.scss */
.shift-main-content {
  margin-left: 210px !important;
  width: calc(100% - 210px) !important;
}

/* line 271, ../sass/app.scss */
.app-title {
  padding: 8px 32px;
}
/* line 274, ../sass/app.scss */
.app-title img {
  width: 44px;
  height: 44px;
}
/* line 278, ../sass/app.scss */
.app-title div {
  color: #FFFFFF;
  padding: 16px;
}

/* line 284, ../sass/app.scss */
.keyvault-title {
  padding: 32px 32px 8px;
  font-size: 24px;
  font-weight: 100;
}

/* line 290, ../sass/app.scss */
.key-count {
  font-size: 11px;
  color: #727272;
}
