/*12 column grid*/
/* line 2, ../sass/app.scss */
.col-1 {
  width: 8.33%;
}

/* line 3, ../sass/app.scss */
.col-2 {
  width: 16.66%;
}

/* line 4, ../sass/app.scss */
.col-3 {
  width: 25%;
}

/* line 5, ../sass/app.scss */
.col-4 {
  width: 33.33%;
}

/* line 6, ../sass/app.scss */
.col-5, .intro-content .intro-action-block .intro-action-block-elem {
  width: 41.66%;
}

/* line 7, ../sass/app.scss */
.col-6 {
  width: 50%;
}

/* line 8, ../sass/app.scss */
.col-7 {
  width: 58.33%;
}

/* line 9, ../sass/app.scss */
.col-8 {
  width: 66.66%;
}

/* line 10, ../sass/app.scss */
.col-9 {
  width: 75%;
}

/* line 11, ../sass/app.scss */
.col-10 {
  width: 83.33%;
}

/* line 12, ../sass/app.scss */
.col-11 {
  width: 91.66%;
}

/* line 13, ../sass/app.scss */
.col-12, .breadcrumb, nav ul li, .float-content, .float-id-content, .float-content .btn-block, .float-id-content .btn-block {
  width: 100%;
}

/* line 14, ../sass/app.scss */
.col-20-percent {
  width: 20%;
}

/* line 15, ../sass/app.scss */
.col-40-percent {
  width: 40%;
}

/* line 16, ../sass/app.scss */
.col-60-percent {
  width: 60%;
}

/* line 17, ../sass/app.scss */
.col-80-percent {
  width: 80%;
}

/* line 18, ../sass/app.scss */
.width-inherit {
  width: inherit;
}

/*Variables*/
/* Color Palette */
/* line 76, ../sass/app.scss */
body {
  height: 100%;
  font-size: 13px;
  font-family: "Segoe UI", "SF UI text", sans-serif !important;
  margin: 0px;
  color: #212121;
}

/* line 84, ../sass/app.scss */
.micro-fontsize, .breadcrumb {
  font-size: 11px !important;
  line-height: 16px;
}

/* line 88, ../sass/app.scss */
.small-fontsize, .breadcrumb ul {
  font-size: 12px;
  line-height: 16px;
}

/* line 93, ../sass/app.scss */
.regular-fontsize {
  font-size: 13px;
  line-height: 16px;
}

/* line 98, ../sass/app.scss */
.large-fontsize {
  font-size: 15px;
  line-height: 16px;
}

/* line 103, ../sass/app.scss */
.sans-serif-bold {
  font-weight: bold;
}

/* line 107, ../sass/app.scss */
.sans-serif-header {
  font-weight: 400;
}

/* line 111, ../sass/app.scss */
.float-left {
  float: left;
}

/* line 115, ../sass/app.scss */
.float-right, .shiftMainContent {
  float: right;
}

/* line 119, ../sass/app.scss */
.hide {
  display: none !important;
}

/* line 123, ../sass/app.scss */
a {
  cursor: pointer;
  text-decoration: none;
  color: #0067C5;
  outline: none;
}

/* line 130, ../sass/app.scss */
.display-inline-flex, .app-title, .float-content .btn-block, .float-id-content .btn-block, .intro-content .intro-action-block {
  display: inline-flex !important;
  display: -ms-inline-flexbox;
  flex-wrap: wrap;
}

/* line 136, ../sass/app.scss */
.cursor-pointer, button {
  cursor: pointer;
}

/* line 140, ../sass/app.scss */
.cursor-default {
  cursor: default;
}

/** common elem **/
/* line 145, ../sass/app.scss */
.adjust-btn-frame, button {
  width: 160px;
  margin: auto;
}

/* line 149, ../sass/app.scss */
button {
  min-width: 90px;
  padding: 8px 16px;
  background-color: #378A81;
  color: #FFFFFF;
  outline: none;
  border: none;
  height: 46px;
  border-radius: 0px;
  font-weight: bold;
}

/* line 162, ../sass/app.scss */
.inv-btn {
  background-color: #FFFFFF;
  color: #378A81;
}

/* line 167, ../sass/app.scss */
.breadcrumb {
  background-color: #FFFFFF;
  border-bottom: 0.5px dashed #212121;
  height: 80px;
  padding: 20px;
}
/* line 173, ../sass/app.scss */
.breadcrumb div {
  font-size: 18px;
  font-weight: 100;
}
/* line 177, ../sass/app.scss */
.breadcrumb ul {
  display: flex;
  list-style-type: none;
  margin: 10px 0px;
  padding: 0;
}
/* line 184, ../sass/app.scss */
.breadcrumb ul > li {
  display: flex;
  float: left;
  width: auto;
  color: #727272;
  cursor: default;
  align-items: center;
}
/* line 192, ../sass/app.scss */
.breadcrumb ul > li:not(:last-child)::after {
  content: " > ";
  white-space: pre;
  float: right;
  color: #727272;
  cursor: default;
}
/* line 199, ../sass/app.scss */
.breadcrumb .linked {
  cursor: pointer;
  color: #0067C5;
}

/* line 205, ../sass/app.scss */
.page-title {
  color: #D85760;
  font-weight: 501;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 17px;
}

/* line 213, ../sass/app.scss */
* {
  box-sizing: border-box;
}

/* line 217, ../sass/app.scss */
body {
  margin: 0;
}

/* line 221, ../sass/app.scss */
nav {
  background: #FFFFFF;
  float: left;
  height: 100vh;
  left: 0;
  margin-right: 0;
  overflow: auto;
  padding: 0;
  transition: width .3s ease;
  position: fixed;
  top: 0;
  width: 18%;
  z-index: 1;
  border-right: 0.5px dashed #378A81;
}
/* line 235, ../sass/app.scss */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 238, ../sass/app.scss */
nav ul li {
  display: inline-flex;
  list-style: none;
}
/* line 241, ../sass/app.scss */
nav ul li + li {
  border-top: 1px solid rgba(237, 237, 237, 0.05);
}
/* line 244, ../sass/app.scss */
nav ul li a {
  color: #FFFFFF;
  display: block;
  font-size: 13px;
  height: 63px;
  opacity: 1;
  padding: 22px 0 22px 8px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
/* line 254, ../sass/app.scss */
nav ul li a:hover {
  opacity: 1;
}
/* line 258, ../sass/app.scss */
nav ul li i {
  color: #FFFFFF;
  display: block;
  font-size: 13px;
  opacity: 1;
  padding: 22px 0 22px 48px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}
/* line 267, ../sass/app.scss */
nav ul li i:hover {
  opacity: 1;
}

/* line 277, ../sass/app.scss */
nav ul li a:before {
  content: "";
  width: 35px;
  height: 35px;
  position: absolute;
  top: 24%;
  right: auto;
  bottom: auto;
  left: 12px;
}

/* line 289, ../sass/app.scss */
#mainContent {
  position: relative;
  width: 100%;
  transition: margin-left 0.5s ease;
  overflow-y: scroll;
}

/* line 296, ../sass/app.scss */
.shiftMainContent {
  width: 82% !important;
  height: -webkit-fill-available;
  background-color: #F0F0F0;
}

/* line 304, ../sass/app.scss */
.app-title {
  padding: 12px 36px;
  width: 100%;
}
/* line 309, ../sass/app.scss */
.app-title img {
  width: 44px;
  height: 44px;
}
/* line 313, ../sass/app.scss */
.app-title div {
  color: #378A81;
  padding: 14px 8px;
  font-size: 16px;
  font-weight: 400;
}

/* line 321, ../sass/app.scss */
.keyvault-title {
  padding: 32px 32px 8px;
  font-size: 24px;
  font-weight: 100;
}

/* line 327, ../sass/app.scss */
.key-count {
  font-size: 11px;
  color: #727272;
}

/* line 332, ../sass/app.scss */
.float-content, .float-id-content {
  background-color: #FFFFFF;
  margin: 20px;
  height: 320px;
  padding: 20px;
  border: 0.5px dashed #212121;
}
/* line 339, ../sass/app.scss */
.float-content .info-txt, .float-id-content .info-txt {
  font-weight: bold;
  color: #FF8C00;
  padding: 10px 0;
}
/* line 344, ../sass/app.scss */
.float-content .words-txt, .float-id-content .words-txt {
  color: #FFFFFF;
  background-color: #212121;
  width: 108px;
  padding: 8px 12px;
  margin: 12px 8px 0 0;
  display: inline-block;
}
/* line 351, ../sass/app.scss */
.float-content .words-txt input, .float-id-content .words-txt input {
  outline: none;
  border: none;
  color: #FFFFFF;
  background-color: #212121;
  width: 48px;
}
/* line 359, ../sass/app.scss */
.float-content .btn-block, .float-id-content .btn-block {
  height: 40px;
  margin: 40px 0 0 0;
}

/* line 366, ../sass/app.scss */
.float-id-content {
  background-color: #0067C5;
  color: #FFFFFF;
  height: 200px;
}
/* line 371, ../sass/app.scss */
.float-id-content .info-txt {
  color: #FFFFFF;
  font-size: 15px;
}
/* line 375, ../sass/app.scss */
.float-id-content .btn-id {
  background-color: #FFFFFF;
  color: #0067C5;
  width: 160px;
  padding: 8px;
  text-align: center;
  margin: 20px 0;
}
/* line 383, ../sass/app.scss */
.float-id-content .info-desc {
  width: 600px;
  line-height: 16px;
  font-size: 14px;
}

/**footer component*/
/* line 391, ../sass/app.scss */
.footer-wrapper {
  height: 38px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  color: #727272;
  display: inline-block;
  z-index: 100;
  background-color: #FFFFFF;
}

/* line 402, ../sass/app.scss */
.desktop-footer-essentials {
  padding: 8px 16px;
}

/**footer component*/
/* line 407, ../sass/app.scss */
.copyright {
  border-left: 1px solid #FAFAFA;
  padding-left: 5px;
  padding-right: 5px;
}

/**footer component*/
/** introduction page **/
/* line 415, ../sass/app.scss */
.intro-page {
  text-align: center;
}
/* line 417, ../sass/app.scss */
.intro-page img {
  height: 200px;
  width: 200px;
}
/* line 421, ../sass/app.scss */
.intro-page h1 {
  font-weight: 300;
  color: #378A81;
}

/* line 427, ../sass/app.scss */
.intro-content {
  margin: 0 20%;
  text-align: justify;
  line-height: 20px;
}
/* line 431, ../sass/app.scss */
.intro-content .intro-desc {
  margin: 16px 0;
}
/* line 434, ../sass/app.scss */
.intro-content .intro-action-block {
  justify-content: space-between;
}
/* line 437, ../sass/app.scss */
.intro-content .intro-action-block .intro-action-block-elem {
  border: 1px dashed;
  margin: 16px 0;
  padding: 16px 24px;
}
/* line 442, ../sass/app.scss */
.intro-content .intro-action-block .intro-action-block-elem .intro-action-block-elem-desc {
  height: 100px;
}
