@import '@/assets/style/_variables.scss';

#top-bar {
  &:not(.has-breadcrumb) {
    min-height: 2.7rem;
  }
}

.breadcrumb {
  background: none;
  padding: 0;
  margin: 0;

  .breadcrumb-item {
    a {
      color: #6c757d;
      &:hover {
        text-decoration: none;
      }
    }

    &.active {
      color: $primary;
    }
  }
}