/*12 column grid*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-20-percent {width: 20%;}
.col-40-percent {width: 40%;}
.col-60-percent {width: 60%;}
.col-80-percent {width: 80%;}
.width-inherit {width: inherit;}

/*Variables*/
/* Color Palette */
//Brand Colors
$aqua:                  #17E6E6;
$azurite:               #04285A;

$sapphire:              #34428B;
$ruby:                  #DC3246;
$gold:                  #FFD300;
$citrine:               #FF8C00;
$lime:                  #96CC29;
$topaz:                 #0067C5;
$zircon:                #00B8F6;

//Shades of Grey
$black:                 #000000;
$onyx:                  #212121;
$charcoal:              #727272;
$alumina:               #B8B8B8;
$ash:                   #DADADA;
$silver:                #F0F0F0;
$chrome:                #FAFAFA;
$white:                 #FFFFFF;

//Product
$brand-primary:         $aqua;
$brand-secondary:       #002452;

$brand-info:            $sapphire;
$brand-stable:          #00882B;
$brand-alert:           $citrine;
$brand-warning:         #F0BB2B;
$brand-critical:        #C82506;

//Text & Icons
$brand-text:            $onyx;
$brand-action:          $charcoal;

$brand-active:          $zircon;
$brand-inactive:        $alumina;

$brand-inverse:         $white;
$brand-link:            $topaz;
$brand-label:           #646A73;

//Others
$brand-bg:              $chrome;
$brand-highlight:       $silver;
$brand-divider:         $ash;
$button-save:           #0365C0;

$brand-main-color:      #D85760;
$brand-sub-color:       #999999;

body{
  height: 100%;
  font-size: 13px;
  font-family: "Segoe UI", "SF UI text", sans-serif !important;
  margin: 0px;
}

.micro-fontsize {
  font-size: 11px !important;
  line-height: 16px;
}
.small-fontsize {
  font-size: 12px;
  line-height: 16px;
}

.regular-fontsize {
  font-size: 13px;
  line-height: 16px;
}

.large-fontsize {
  font-size: 14px;
  line-height: 16px;
}

.sans-serif-bold {
  font-weight: bold;
}

.sans-serif-header {
  font-weight: 400;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: $brand-link;
  outline: none;
}

.display-inline-flex{
  display: inline-flex !important;
  display: -ms-inline-flexbox;
}

.cursor-pointer{
  cursor: pointer;
}

.primary-btn {
  @extend .cursor-pointer !optional;
  color: $brand-info;
  padding: 12px 24px;
  i {
    padding: 0 4px;
  }
  &:hover{
    color: $brand-link;
  }
}

.secondary-btn {
  @extend .cursor-pointer !optional;
  color: $brand-inverse;
  padding: 12px 24px;
  i {
    padding: 0 4px;
  }
}


button, i{
  @extend .cursor-pointer
}

.header-inner-wrapper {
  height: 40px;
  z-index: 94;
  background-color: $brand-inverse;
  box-shadow: 0 0 10px 0 $brand-divider;
}

.page-title {
  color: $brand-main-color;
  height: 22px;
  padding: 12px 24px 6px;
  font-weight: 400;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  background: $brand-secondary;
  float: left;
  height: 100vh;
  left: 0;
  margin-right: 0;
  overflow: auto;
  padding: 0;
  transition: width .3s ease;
  position: fixed;
  top: 0;
  width: 63px;
  z-index: 1;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-flex;
      list-style: none;
      & + li {        
        border-top: 1px solid rgba(237,237,237,.05);
      }
      a {
        color: $brand-inverse;
        display: block;
        font-size: 13px;
        height: 63px;
        opacity: .3;
        padding: 22px 0 22px 8px;
        position: relative;
        text-decoration: none;
        white-space: nowrap;
        &:hover {
          opacity: 1;
        }
      }
      i {
        color: $brand-inverse;
        display: block;
        font-size: 13px;
        opacity: 1;
        padding: 24px 26px;
        position: relative;
        text-decoration: none;
        white-space: nowrap;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  &.hovered {
    width: 210px;
    i {
      padding: 22px 0 22px 48px;
    }
  }
}

nav ul li {
  a:before {
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    top: 24%;
    right: auto;
    bottom: auto;
    left: 12px;
  }
}

#mainContent {
  height: 100vh;
  margin-left: 63px;
  position: relative;
  width: calc(100% - 63px);
  transition: margin-left 0.5s ease;
  span {
    color: rgba(255,255,255,0.5);
    font-size: 40px;
    left: 50%;
    position: absolute;
    top: 50%;
    transition: all 2s ease-in-out;
    transform: translate(-50%,-50%);
    white-space: nowrap;
  }
}

.shift-main-content {
  margin-left: 210px !important;
  width: calc(100% - 210px) !important;
}

@media all and (min-height: 500px) {
  .support,.support span {
    bottom: 20px;
    position: absolute;
  }
}