/*12 column grid*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-20-percent {width: 20%;}
.col-40-percent {width: 40%;}
.col-60-percent {width: 60%;}
.col-80-percent {width: 80%;}
.width-inherit {width: inherit;}

/*Variables*/
/* Color Palette */
//Brand Colors
$aqua:                  #17E6E6;
$azurite:               #04285A;

$sapphire:              #34428B;
$ruby:                  #DC3246;
$gold:                  #FFD300;
$citrine:               #FF8C00;
$lime:                  #96CC29;
$topaz:                 #0067C5;
$zircon:                #00B8F6;

//Shades of Grey
$black:                 #000000;
$onyx:                  #212121;
$charcoal:              #727272;
$alumina:               #B8B8B8;
$ash:                   #DADADA;
$silver:                #F0F0F0;
$chrome:                #FAFAFA;
$white:                 #FFFFFF;

//Product
$brand-primary:         $aqua;
$brand-secondary:       #378A81;

$brand-info:            #40975D;
$brand-stable:          #00882B;
$brand-alert:           $citrine;
$brand-warning:         #F0BB2B;
$brand-critical:        #C82506;

//Text & Icons
$brand-text:            $onyx;
$brand-action:          $charcoal;

$brand-active:          $zircon;
$brand-inactive:        $alumina;

$brand-inverse:         $white;
$brand-link:            $topaz;
$brand-label:           #646A73;

//Others
$brand-bg:              $chrome;
$brand-highlight:       $silver;
$brand-divider:         $ash;
$button-save:           #0365C0;

$brand-main-color:      #D85760;
$brand-sub-color:       #999999;

$footer-height:         38px;

body{
  height: 100%;
  font-size: 13px;
  font-family: "Segoe UI", "SF UI text", sans-serif !important;
  margin: 0px;
  color: $brand-text;
}

.micro-fontsize {
  font-size: 11px !important;
  line-height: 16px;
}
.small-fontsize {
  font-size: 12px;
  line-height: 16px;
}

.regular-fontsize {
  font-size: 13px;
  line-height: 16px;
}

.large-fontsize {
  font-size: 15px;
  line-height: 16px;
}

.sans-serif-bold {
  font-weight: bold;
}

.sans-serif-header {
  font-weight: 400;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.hide {
  display: none !important;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: $brand-link;
  outline: none;
}

.display-inline-flex{
  display: inline-flex !important;
  display: -ms-inline-flexbox;
  flex-wrap: wrap;
}

.cursor-pointer{
  cursor: pointer;
}

.cursor-default{
  cursor: default;
}

/** common elem **/
.adjust-btn-frame{
  width: 160px;
  margin: auto;
}
button{
  @extend .cursor-pointer, .adjust-btn-frame;
  min-width: 90px;
  padding: 8px 16px;
  background-color: $brand-secondary;
  color: $brand-inverse;
  outline: none;
  border: none;
  height: 46px;
  border-radius: 0px;
  font-weight: bold;
}

.inv-btn{
  background-color: $brand-inverse;
  color: $brand-secondary;
}

.breadcrumb {
  @extend .micro-fontsize, .col-12;
  background-color: $brand-inverse;
  height: 80px;
  padding: 20px;
  div{
    font-size: 18px;
    font-weight: 100;
  }
  ul {
    @extend .small-fontsize;
    display: flex;
    list-style-type: none;
    margin: 10px 0px;
    padding: 0;
  }
  ul > li {
    display: flex;
    float: left;
    width: auto;
    color: $brand-action;
    cursor: default;
    align-items: center;
  }
  ul > li:not(:last-child)::after {
    content: " > ";
    white-space: pre;
    float: right;
    color: $brand-action;
    cursor: default;
  }
  .linked {
    cursor: pointer;
    color: $brand-secondary;
  }
}

.page-title {
  color: $brand-main-color;
  font-weight: 501;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 17px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  background: $brand-inverse;
  float: left;
  height: 100vh;
  left: 0;
  margin-right: 0;
  overflow: auto;
  padding: 0;
  transition: width .3s ease;
  position: fixed;
  top: 0;
  width: 25%;
  z-index: 1;
  border-right: 0.5px dashed $brand-secondary;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-flex;
      list-style: none;
      & + li {        
        border-top: 1px solid rgba(237,237,237,.05);
      }
      a {
        color: $brand-inverse;
        display: block;
        font-size: 13px;
        height: 63px;
        opacity: 1;
        padding: 22px 0 22px 8px;
        position: relative;
        text-decoration: none;
        white-space: nowrap;
        &:hover {
          opacity: 1;
        }
      }
      i {
        color: $brand-inverse;
        display: block;
        font-size: 13px;
        opacity: 1;
        padding: 22px 0 22px 48px;
        position: relative;
        text-decoration: none;
        white-space: nowrap;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

nav ul li {
  @extend .col-12;
  a:before {
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    top: 24%;
    right: auto;
    bottom: auto;
    left: 12px;
  }
}

#mainContent {
  position: relative;
  width: 100%;
  transition: margin-left 0.5s ease;
  overflow-y: scroll;
}

.shiftMainContent {
  @extend .float-right;
  width: 75% !important;
  // padding: 20px;
  height: -webkit-fill-available;
  background-color: $brand-highlight;
}

.app-title{
  @extend .display-inline-flex;
  padding: 12px 36px;
  width: 100%;
  // background-color: $brand-bg;
  img {
    width: 44px;
    height: 44px;
  }
  div {
    color: $brand-secondary;
    padding: 14px 8px;
    font-size: 16px;
    font-weight: 400;
  }
}

.keyvault-title{
  padding: 32px 32px 8px;
  font-size: 24px;
  font-weight: 100;
}

.key-count{
  font-size: 11px;
  color: $brand-action;
}

.float-content{
  @extend .col-12;
  background-color: $brand-inverse;
  margin: 20px;
  height: 320px;
  padding: 20px;
  .info-txt{
    font-weight: bold;
    color: $brand-alert;
    padding: 10px 0;
  }
  .words-txt{
    color: $brand-inverse;
    background-color: $brand-text;
    width: 96px;
    padding: 8px 12px;
    margin: 12px 8px 0 0;
    display: inline-block;
    input{
      outline: none;
      border: none;
      color: $brand-inverse;
      background-color: $brand-text;
      width: 48px;
    }
  }
  .btn-block{
    @extend .col-12, .display-inline-flex;
    height: 40px;
    margin: 40px 0 0 0;
  }
}

/**footer component*/
.footer-wrapper {
  height: $footer-height;
  position: fixed;
  bottom: 0px;
  left: 0px;
  color: $brand-action;
  display: inline-block;
  z-index: 100;
  background-color: $brand-inverse;
}

.desktop-footer-essentials{
  padding: 8px 16px;
}

.copyright {
  border-left: 1px solid $brand-bg;
  padding-left: 5px;
  padding-right: 5px;
}
/**footer component*/

/** introduction page **/
.intro-page {
  text-align: center;
  img {
    height: 200px;
    width: 200px;
  }
  h1 {
    font-weight: 300;
    color: $brand-secondary;
  }
}

.intro-content {
  margin: 0 20%;
  text-align: justify;
  line-height: 20px;
  .intro-desc{
    margin: 16px 0;
  }
  .intro-action-block{
    @extend .display-inline-flex;
    justify-content: space-between;
    .intro-action-block-elem{
      @extend .col-5;
      border: 1px dashed;
      margin: 16px 0;
      padding: 16px 24px;
      .intro-action-block-elem-desc{
        height: 100px;
      }
    }
  }
}
