#avatar > img {
    object-fit: contain;
    height: 150px;
    width: 100%;
}
.form-control-plaintext {
    padding-left:0.75rem;
    border:1px solid transparent;
}
.input-group-text {
    border: 1px solid transparent;
    background-color: white;
}